//== COLORS
$c-b: #898989 !default;
$c-1: #000000;
$c-2: #ffffff;
$c-3: #e9d16f;
$c-4: #041e37;
$c-5: #39579a;
$c-6: #30a8e2;
$c-7: #201f1e;
$c-8: rgba(255, 255, 255, 0.02);
$c-9: #1b334d;
$c-10: #031629;
$c-11: #27415a;
$c-12: rgba(233, 209, 111, 0.75);
$c-13: #051f37;

$c-14: #7e57c2;
$c-15: #7044bb;
$c-16: #fcb028;
$c-17: rgba(252, 176, 40, 0.1);
$c-18: #20253b;
$c-19: rgba(32, 37, 59, 0.5);
$c-20: #232941;
$c-21: #131b32;
$c-22: #dbecfa;
$c-23: #fed43e;

//== TYPOGRAPHY
$f-b: 'SourceSansProRegular', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f-1: 'SourceSansProLight', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f-2: 'SourceSansProSemiBold', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f-3: 'SourceSansProBold', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f-4: 'RobotoLight', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f-5: 'RobotoRegular', Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f-6: 'RobotoMedium', Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f-7: 'RobotoBold', Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f-8: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;

$fs-b: 15px !default;
$fs-75: 75px;
$fs-70: 70px;
$fs-65: 65px;
$fs-60: 60px;
$fs-54: 54px;
$fs-53: 53px;
$fs-52: 52px;
$fs-51: 51px;
$fs-50: 50px;
$fs-49: 49px;
$fs-48: 48px;
$fs-47: 47px;
$fs-46: 46px;
$fs-45: 45px;
$fs-44: 44px;
$fs-43: 43px;
$fs-42: 42px;
$fs-41: 41px;
$fs-40: 40px;
$fs-39: 39px;
$fs-38: 38px;
$fs-37: 37px;
$fs-36: 36px;
$fs-35: 35px;
$fs-34: 34px;
$fs-33: 33px;
$fs-32: 32px;
$fs-31: 31px;
$fs-30: 30px;
$fs-29: 29px;
$fs-28: 28px;
$fs-27: 27px;
$fs-26: 26px;
$fs-25: 25px;
$fs-24: 24px;
$fs-23: 23px;
$fs-22: 22px;
$fs-21: 21px;
$fs-20: 20px;
$fs-19: 19px;
$fs-18: 18px;
$fs-17: 17px;
$fs-16: 16px;
$fs-15: 15px;
$fs-14: 14px;
$fs-13: 13px;
$fs-12: 12px;
$fs-11: 11px;
$fs-10: 10px;
$fs-9: 9px;
